body {
	font-size: 1.05em;
}
.text_block {
	width: 600px;
	margin: 0 auto 20px;
	background-color: green;
	color: white;
}
.fat_block {
	width: 600px;
	margin: 0 auto;
	padding: 25px;
	border: 25px solid blue;
	background-color: blue;
	color: white;
}