body {
	font-size: 1.05em;
	color: white;
}
.static_div {
	width: 150px;
	height: 100px;
	background-color: blueviolet;
}
.relative_div_1 {
	width: 150px;
	height: 100px;
	background-color: red;
	position: relative;
}
.relative_div_2 {
	width: 150px;
	height: 100px;
	background-color: orange;
	position: relative;
	left: 30px;
	top: 50px;
}
.relative_div_3 {
	width: 600px;
	height: 400px;
	background-color: palevioletred;
	position: relative;
	top: 100px;
}
.absolute_div {
	width: 300px;
	height: 200px;
	background-color: rgb(101, 32, 165);
	position: absolute;
	right: 0;
	top: 100px;
}
.fixed_div {
	width: 120px;
	height: 120px;
	background-color: green;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: -10;
}