body {
	font-size: 1.05em;
}
.inline_block {
	width: 200px;
	height: 100px;
	margin: 13px;
	display: inline-block;
	background-color: aquamarine;
}
.bottom_block {
	width: 100%;
	background-color: bisque;
}